
body {
	margin: 0;
	padding: 0;
	background: url("imagens/fundo.jpg") repeat;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
}

h1, ul, li {
	margin: 0;
	padding: 0;
	color:#FF6600;
	text-align: center;
	font-size: 30px;
}
h2 {
	color:#FF6600;
	text-align: center;
	font-size: 30px;
}
p {
	font-size: 20px;
	line-height: 1.4em;
	color: black;
	text-align: left;
}

ul {
	list-style-type: none;
}

/*
definição dos links
*/
a:link, a:visited {
	color: #333;
	background: gray;
}

nav  {
	background:#e0e0d1;
	font-size: 1.4em;
}

nav h1 {
    color: #ccc;
}

nav ul{
	padding: 10px;
	margin: 0px 0px 0px 0px;
	font-size: 2em;
	font-weight: bolder;
	text-align:center;
}

nav li {
	display: inline;
	margin: 0 0 0 40px;
	}

nav li a {
	color: #333;
	text-decoration: none;
	text-align: center;
}
nav li a:link,nav li a:visited{ /****/
	background-color:#e0e0d1;;}

section{
	margin: 0 auto;
	padding: 10px;
	width: 1024px;
	background: #fff;
	border: 5px solid #FF6600;
}

article, aside {
	width: 360px;
	
}
article {
	float: left;
}

article h2 {
	font-size: 30px;
	margin: 0 0 10px 0;
}

article p {
	margin: 0 0 10px 0;
}

article ul {
	margin: 20px 0 0 0;
	font-size: 1.4em;
}

article ul  li {
	margin: 0 0 10px 0;
}

aside {
	float: right;
	background: #eee;
}

aside h2 {
	border-bottom: 5px solid #ccc;
	margin: 0 0 20px 0;
	padding: 5px;
	
}

aside li {
	margin: 10px 10px 20px 10px;
	float: left;
	border: 2px solid #FF6600;
}

aside img {
height: 130px;
width: 130px;
}

#footer {
	clear: both;
	background: #eee;
	padding: 10px;
	border-top: 1px solid #ddd;
	text-align: center;
	color: #777;
	
}
#banner {
	height: 380px;
	width: 1023px;
	
	
}
#sobreeu {
	font-size: 20px;
	font-family: verdana;
	color: black;
	margin-left: 450px;
	float: top;
	margin-top: 150px;
	text-align: left;
	line-height: 1.4em;
}
#bea {
	height: 400px;
	width: 400px;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
	
}
#portif {
	background-color: #e0e0d1;;
	margin-top: 200px;
	
}
#slide {
	margin-left: 100px;
}
#botao {
	text-align: center;
	font-size: 20px;
	border: 1px solid #FF6600;
	border-width: 4px 20px 4px 20px;
	margin-top: 10px;
	
	
}
#art{
	background: #e0e0d1;
	margin-top: 30px;
	text-align: center;
	color: #FF6600;
	font-size: 30px;
	font-weight: 700;
	
}
#artigo {
	text-align: justify;
	font-family: arial;
	font-size: 20px;

	
}
#sobre {
	text-align: justify;
	font-family: arial;
	font-size: 20px;
	color: #333;
	margin-left: 20px;
	margin-right: 20px;
	
}
#logofatec {
		height: 320px;
		width: 550px;
	
}
#aqui{
	font-size: 20px;
	line-height: 1em;
	color: black;
	text-align: left;
	font-weight: 700;
	margin-top: 10px;
	margin-left: 20px;
	
}
#galeria{
	float: right;
	background: #eee;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px
	
}
#fatec{
	font-size: 25px;
	line-height: 1.5em;
	color: black;
	text-align: justify;
	
}
#cursos {
	display: inline-block;
	height: 150px;
	width: 150px;
	margin-top: 20px;
}
#curio {
	text-align: justify;
	font-size: 25px;
	line-height: 1.5em;
	font-weight: 700;
	margin-left: 20px;
	margin-right: 20px;
}
#inter {
	float: right;
	height: 150px;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 200px;
	
}
#disc {
	text-align: justify;
	font-family: arial;
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-weight: 700;
}
#dis{
	background: #e0e0d1;
	margin-top: 20px;
	text-align: center;
	color: #FF6600;
	font-size: 30px;
	font-weight: 700;
	width: 630px;
}
#materia {
	color:#808080;
	font-size: 20px;
	text-align: left;
	margin-left: 10px;
	margin-top: 40px;
	
	
	
}